:root {
    --size: 410px;
}

body {
    background-color: rgb(249, 249, 249);
}

body,
h1 {
    margin: 0;
    padding: 0;
}

.add {
    width: 375px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: larger;
}

button:hover {
    background-color: rgb(36, 34, 34);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    gap: 35px;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    width: var(--size);
    cursor: pointer;
    border: 1px solid lightgray;
    /* border-radius: 10px; */
    overflow: hidden;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, var(--size));
    justify-content: center;
    margin-top: 75px;
    gap: 60px;
    margin-bottom: 75px;
}

.logo-image {
    width: 150px;
}

.title {
    margin-right: auto;
}

.bottom-card {
    padding: 15px;
}

#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.shopping-cart {
    height: 40px;
    cursor: pointer;
}

.items {
    position: relative;
    bottom: 36px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}

.shopping-cart-whole {
    padding: 0;
    height: 40px;
}

a {
    all: unset;
    cursor: pointer;
}

.full-horse {
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
    gap: 65px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 145px;
}

.quantity {
    display: flex;
    align-items: center;
}

.minus, .plus {
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 21px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.to-add {
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: lightgray;
}

.minus:active {
    background-color: red;
}

.plus:active {
    background-color: chartreuse;
}

.right-side > .add {
    margin-bottom: auto;
}

.add:active {
    background-color: #118C4F;
    color: black;
    border: 2px solid black;
    box-sizing: border-box;
}

.cart-item {
    display: flex;
    height: 100px;
    padding: 10px;
    margin-left: 45px;
    gap: 15px;
}

.upper-cart-item {
    width: 650px;
}

.view-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.remove {
    cursor: pointer;
    color: red;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    font-weight: 400;
    font-size: xx-large;
    letter-spacing: 3px;
}